<%tweets.each do |tweet|%>
<div class="tweet-box">
     <div style="padding: 9px 12px 9px;">
	 <table bordar="none" width="100%">
	<tr VALIGN=TOP>
	 <td rowspan="2" width="45px">
          <%tweet_img=image_tag("BGtwitter_normal.JPG", :width=>"60px", :height=>"60px", :class=>"profile-image") %>			
	  <%=link_to tweet_img,page_path(tweet.user) %>
	 </td>
	 <td style=" padding-left:8px;">
	  <%=link_to tweet.user.name,page_path(tweet.user) %>
	 </td>
         <td>
	    <div>
		<%if tweet.user == current_user%>
			<%=link_to "delete","#"%>
		<%end%>
	    </div>
	 </td>
	 <td align="right"><small style="color:gray"><%=time_ago_in_words(tweet.created_at)%></small></td>
        </tr>
        <tr>
         <td colspan="3" style=" padding-left:8px;">
           <%=tweet.content%>
         </td>
        </tr>
  </table>
 </div>
</div>
<%end%>
