
<%=render "menu"%>
<%=render "profile-popup"%>
<div id="container">
	<div class="dashboard">
   	<div class="round-box">
			<div style="padding: 10px 10px 10px;">
			 <table >
   		  <tr border="none" VALIGN=TOP>
				<td>
 				  <div>
  				     <%=image_tag("default_profile_0_normal.png",:style=>"width: 32px;	height: 32px;",:class=>"profile-image") %>
				   </div>
				</td>
				<td colspan="2" style=" padding-left:8px;">
				  <div><%=link_to "Nagesh Vanam",own_path %></div>
 				  <small style="color:#999999">View my profile page</small>
    			</td>
			  </tr>
			 </table>
			</div>
		</div>
   	<div id="profile-page" class="round-box">
			 <div class="tweet-box own-link selected" style="border-top:0px; padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;color:black;">Profile</div>
			 <div class="tweet-box own-link" style="padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;">Password</div>
			 <div class="tweet-box own-link" style="padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;">Design</div>
		</div>
   	<div class="round-box">
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
			tweets<br/>
		</div>
	</div>
	<div class="content">
		<div class="round-box" style="display:block" id="profile">
			<%=render "editprofile" %>
		</div>
		<div class="round-box" style="display:none" id="password">
			<%=render "changepassword" %>
		</div>
		<div class="round-box" style="display:none" id="design">
			<%=render "design" %>
		</div>
	</div>
	<div class="footer" />
</div>
</body>


