
<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <%= stylesheet_link_tag  "style", :media => "all" %>
  <%= stylesheet_link_tag  "front", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "login" %>
  <%= csrf_meta_tags %>
</head>
<body class="login-page">

<%= yield %>

</body>
</html>
